/* Add this to a <style> tag or a separate CSS file */
.box-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
} */



.box {
    width: calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 1.1em;
    font-weight: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.result {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
    border: 3px black;
}

.button-container {
    align-self: flex-end;
}

label {
    display: inline-block;
    width: 120px;
    text-align: left;
    margin-right: 10px;
}

input[type="number"] {
    width: 50px;
}

#multiRollButton {
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
}

#rollHistoryList {
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    margin: 0 20px;
    padding: 5px;
}


.toggle-button {
    background-color: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Styles for the button when active (clicked) */
.toggle-button:active {
    background-color: green;
}

/* Styles for the checkbox container (label) */
.button-checkbox {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative; /* Relative positioning for click feedback */
}

.button-checkbox:hover {
    background-color: #f0f0f0;
}

/* Styles for the click feedback */
.click-feedback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, 0.2);
    border-radius: 5px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.2s ease-in-out;
}

/* Show click feedback when checkbox is checked */
.button-checkbox input[type="checkbox"]:checked + .click-feedback {
    opacity: 1;
}
